h1 {
	text-align:center;
	text-decoration:overline;
	color:#069306;
	letter-spacing:10px;
	font-size:24px;
	font-variant:small-caps;
	font-weight:bold;
}

* {
	font-family:arial;
	font-size:15px;
	letter-spacing:2px;
}

ol {
	list-style-type:lower-latin;
}

ul {
	
}