body {
	background-color:#a9cb88;
	background-image:url("Images/bg1.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center top;
}

h1 {
	font-family:arial;
	text-align:center;
	text-decoration:overline;
	color:white;
	letter-spacing:10px;
	font-size:24px;
	font-variant:small-caps;
	font-weight:bold;
}

p {	
	font-family:arial;
	font-size:20px;
	color:white;
}
