* {
	font-family:arial;
}

td {
	width:20%;
}

h1,h3 {
	color:blue;
}

#absolutos1 {
	font-size:xx-small;
}

#absolutos2 {
	font-size:x-small;
}

#absolutos3 {
	font-size:small;
}

#absolutos4 {
	font-size:medium;
}

#absolutos5 {
	font-size:large;
}

#absolutos6 {
	font-size:x-large;
}

#absolutos7 {
	font-size:xx-large;
}

#em1 {
	font-size:.5em;
}

#em2 {
	font-size:.7em;
}

#em3 {
	font-size:.9em;
}

#em4 {
	font-size:1em;
}

#em5 {
	font-size:1.5em;
}

#em6 {
	font-size:2em;
}

#em7 {
	font-size:3em;
}

#porcentaje1 {
	font-size:50%;
}

#porcentaje2 {
	font-size:70%;
}

#porcentaje3 {
	font-size:90%;
}

#porcentaje4 {
	font-size:100%;
}

#porcentaje5 {
	font-size:150%;
}

#porcentaje6 {
	font-size:200%;
}

#porcentaje7 {
	font-size:300%;
}

#px1 {
	font-size:9px;
}

#px2 {
	font-size:12px;
}

#px3 {
	font-size:14px;
}

#px4 {
	font-size:18px;
}

#px5 {
	font-size:24px;
}

#px6 {
	font-size:36px;
}

#px7 {
	font-size:48px;
}

#pt1 {
	font-size:9pt;
}

#pt2 {
	font-size:12pt;
}

#pt3 {
	font-size:14pt;
}

#pt4 {
	font-size:18pt;
}

#pt5 {
	font-size:24pt;
}

#pt6 {
	font-size:36pt;
}

#pt7 {
	font-size:48pt;
}