/* Práctica 11-A */
body {
    font-family:Arial, Sans-serif;
}

h1 {
    font-variant:Small-caps;
    font-size:bolder;
    font-size:2em;
    color:#556975;
    letter-spacing:5px;
    text-align:Center;
}

h1, p , div {
    border-style:solid;
    border-width:1px;
    border-color:#556975;
    margin:10px 0px;
}

span, a {
    border-style:solid;
    border-width:2px;
    border-color:red;
    width:200px;
}

p {
    display:Inline;
    background-color:#e0f7fa;    
}

a {
    display:block;
    background-color: #fff9c4;
    margin:5px 0px;
}

#contenedor-cajas .caja {
    display:inline-block;
    height: 100px;
    width: 100px;
    color:white;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}

#contenedor-cajas {
    text-align: center;
}

#roja {
    background-color: red;
}

#verde {
    background-color: green;
}

#azul {
    background-color: blue;
}